@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="../Content/Estilo.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">NOSOTROS</h2>
                    <p class="aboutus-text">En Impecable buscamos obtener la satisfacción de nuestros clientes brindándoles un servicio de calidad en la limpieza de sus vehículos, maximizando su tiempo con la ayuda de nuestro personal altamente capacitado..</p>
                    <p class="aboutus-text">Trabajamos en cada detalle para ser una empresa destacada en el lavado de vehículos, enfatizando la calidad, compromiso y profesionalismo de nuestro servicio para garantizar la lealtad del cliente.</p>
                    <a class="aboutus-more" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="../images/img12.jpg" alt="Second slide">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Misión</h4>
                                <p>Nuestro reto diario es servirte como te mereces; proporcionándote un servicio profesional, de calidad y de precio razonable, sin perder nuestra característica de rapidez..</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Visión</h4>
                                <p>Ser tu mejor opción en autolavado express, utilizando siempre tecnología de vanguardia, para brindarte un servicio rápido, innovador, profesional, cálido y de calidad, haciendo tu estancia una grata experiencia</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4></h4>
                               

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
