<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario administrador</title>
    <link href="../Content/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/be642db9a3.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="right">

        <div class="bienvenido">
            <p class="text-bienvenida"><strong>Hola</strong> <br> Desde el panel de control de tu cuenta puedes ver citas agendadas, gestionar tus ventas, reportes y editar tu contraseña y los detalles de tu cuenta.</p>
        </div>

    </div>
</body>
</html>